body {
    font-family: Arial;
    color: white;
    background-color: #171717;
}
button {
    background-color: white;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
}
.binv {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Arial;
    border-radius: 5px;
}
.blBut {
  background-color: #6830ff;
  border: none;
  color: white;
  padding: 5px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial;
  border-radius: 10px;
  height: 39px
}
.input1 { 
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #6830ff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #1f1f1f;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    
}
*:focus {
    outline:none !important;
}
.ntm {
    margin-top: 0;
}
.cdiv {
    margin: auto;
} input:focus {
    background-color: #2a272b;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1a1a1a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6830ff;
  border-radius: 5px
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #501ddd;
}
