<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
    <script src="{{ url_for('static', filename='jquery.js') }}"></script>
    <link rel="stylesheet" href="../static/default.css">
</head>
<body>
  <script>
  $SCRIPT_ROOT = {{ request.script_root|tojson }};
  $(function() {
    $('button#loginBut').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/login', {
        username: $('input[name="username"]').val(),
        password: $('input[name="password"]').val()
      }, function(data) {
        if (data.status == false) {
          $("#warning").text(data.message)
        } else {
          sessionStorage.setItem("username", $('input[name="username"]').val())
          sessionStorage.setItem("token", data.token)
          window.location.replace("/chathtml")
        }
      });
      return false;
    });
  });



</script>
  <script>
    function login() {
      let user = document.getElementById("username").value
      let pass = document.getElementById("password").value
    }
  </script>
   <h1 style="text-align: center;">Welcome to the Chatroom</h1>
   <br>
   <h3 style="text-align: center;" id=loginmessage>Please log in</h3>
   
   <input name=username class="input1" style="display: block; margin: auto;" id="username" type="text" placeholder="Username">
   <input name=password class="input1" style="display: block; margin: auto; margin-top: .5%;" id=password type="password" placeholder="Password">
   <button id="loginBut" href=# class="blBut" style="display:block; margin: auto; margin-top: .5%;">Login</button>
   <a href="signuphtml"><p style="text-align: center; font-size: 14px;" >Sign Up</p></a>
   <p style="text-align: center; color: red; font-size: 10px; margin-top: 1px; margin-bottom: 1px;" id=warning></p>
   <script>
     $("input#password").keypress(function(event){
        var keycode = (event.keycode ? event.keycode : event.which);
        if (keycode == '13') {
          $.getJSON($SCRIPT_ROOT + '/login', {
        username: $('input[name="username"]').val(),
        password: $('input[name="password"]').val()
      }, function(data) {
        if (data.status == false) {
          $("#warning").text(data.message)
        } else {
          sessionStorage.setItem("username", $('input[name="username"]').val())
          sessionStorage.setItem("token", data.token)
          window.location.replace("/chathtml")
        }
      });
        }
        event.stopPropagation();
      })
   </script>
</body>
</html>